.cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cart-item {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.cart-item img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 100px;
    object-fit: cover; /* Asegura que la imagen mantenga su proporción y se ajuste dentro del contenedor */
}

.cart-item h2 {
    margin-bottom: 10px;
}