.productos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.producto-card {
    background-color: #fff; /* Color de fondo de la tarjeta */
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px; /* Ancho de cada tarjeta */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex; /* Usar flexbox para centrar verticalmente */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
}

.producto-card a {
    text-decoration: none; /* Elimina el subrayado */
    color: black; /* Cambia el color del texto a negro */
    font-family: 'Roboto', sans-serif;
}

.producto-card:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.producto-content {
    flex-grow: 1; /* Hace que el contenido crezca y ocupe el espacio disponible */
    display: flex; /* Usar flexbox para centrar verticalmente */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar elementos horizontalmente */
    justify-content: center; /* Centrar elementos verticalmente */
    padding: 10px; /* Añade espaciado al contenido */
    text-align: center;
}

.producto-img {
    max-width: 100%; /* La imagen no superará el ancho de la tarjeta */
    max-height: auto; /* Altura máxima de la imagen (ajusta según tus preferencias) */
}
.h1 {
    text-align: center;
    margin: 20px 0px 20px;
}
select {
    margin: 20px 0; /* Separación del borde superior e inferior */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde con color */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente */
}

  /* Estilos para el contenedor principal */
body {
    font-family: 'Roboto', sans-serif; /* Fuente para todo el cuerpo del documento */
    background-color: #f5f5f5; /* Color de fondo de la página */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}
.container {
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido en la página */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #000; /* Color de fondo del contenedor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}